.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.refresh-btn{
  border: none;
  margin-left: 65vh;
  margin-top: 50px;
  width: 10%;
  height: 50px;
  background-color: #FAF1D8;
  color: #9C060C;
  font-weight: 1000;
  border-radius: 10px;
}
.refresh-btn:hover{
  
  background-color:#9C060C;
  color: #FAF1D8;
  transition: 0.5s;
  
}
